GENERATE python list of all nos between 4 and 30

In [ ]:
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Find the largest item from a given list

---

In [ ]:
def ls(lst):
  lis = max(lst)
  return lis
lst =[4,6,8,24,12]
print(ls(lst))

24

In [ ]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24

Print the sum of the current number and the previous number

In [ ]:
print("Printing current and previous number and their sum in a range(10)")
previous_num = 0

# loop from 1 to 10
for i in range(1, 11):
    x_sum = previous_num + i
    print("Current Number", i, "Previous Number ", previous_num, " Sum: ", x_sum)
    # modify previous number
    # set it to the current number
    previous_num = i

Printing current and previous number and their sum in a range(10)
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
Current Number 10 Previous Number  9  Sum:  19

# Print characters from a string that are present at an even index number

In [ ]:
# accept input string from a user
word = input('Enter word ')
print("Original String:", word)

# get the length of a string
size = len(word)

# iterate a each character of a string
# start: 0 to start with first character
# stop: size-1 because index starts with 0
# step: 2 to get the characters present at even index like 0, 2, 4
print("Printing only even index chars")
for i in range(0, size - 1, 2):
    print("index[", i, "]", word[i])

Enter word hello
Original String: hello
Printing only even index chars
index[ 0 ] h
index[ 2 ] l

In [ ]:
# accept input string from a user
word = input('Enter word ')
print("Original String:", word)

# using list slicing
# convert string to list
# pick only even index chars
x = list(word)
for i in x[0::2]: #list slicing
    print(i)

Enter word hai
Original String: hai
h
i

# Remove first n characters from a string
Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:

remove_chars("pynative", 4) so output must be tive. Here, we need to remove the first four characters from a string.
remove_chars("pynative", 2) so output must be native. Here, we need to remove the first two characters from a string.

In [ ]:
def remove_chars(word, n):
    print('Original string:', word)
    x = word[n:]
    return x

print("Removing characters from a string")
print(remove_chars("pynative", 4))
print(remove_chars("pynative", 2))

Removing characters from a string
Original string: pynative
tive
Original string: pynative
native

# **check if the first and last number of a list is the same**
Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [ ]:
def first_last_same(numberList):
    print("Given list:", numberList)

    first_num = numberList[0]
    last_num = numberList[-1]

    if first_num == last_num:
        return True
    else:
        return False

numbers_x = [10, 20, 30, 40, 10]
print("result is", first_last_same(numbers_x))

numbers_y = [75, 65, 35, 75, 30]
print("result is", first_last_same(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

# **NO divisible by 5**

In [ ]:
num_list = [10, 20, 33, 46, 55]
print("Given list:", num_list)
print('Divisible by 5:')
for num in num_list:
    if num % 5 == 0:
        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

# **Exercise 7: Return the count of a given substring from a string**

In [ ]:
#Write a program to find how many times substring “Emma” appears in the given string.

In [ ]:
str_x = "Emma is good developer. Emma is a writer"
# use count method of a str class
cnt = str_x.count("Emma")
print(cnt)

2

In [ ]:
def count_emma(statement):
    print("Given String: ", statement)
    count = 0
    for i in range(len(statement) - 1):
        count += statement[i: i + 4] == 'Emma'
    return count

count = count_emma("Emma is good developer. Emma is a writer")
print("Emma appeared ", count, "times")

Given String:  Emma is good developer. Emma is a writer
Emma appeared  2 times

# Print pattern

In [ ]:
for num in range(10):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

# **Exercise 9: Check Palindrome Number**
Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is the same after reverse. For example, 545, is the palindrome numbers

In [ ]:
def palindrome(number):
    print("original number", number)
    original_num = number

    # reverse the given number
    reverse_num = 0
    while number > 0:
        reminder = number % 10
        reverse_num = (reverse_num * 10) + reminder
        number = number // 10

    # check numbers
    if original_num == reverse_num:
        print("Given number palindrome")
    else:
        print("Given number is not palindrome")

palindrome(121)
palindrome(125)

original number 121
Given number palindrome
original number 125
Given number is not palindrome

Exercise 10: Create a new list from two list using the following condition
# Create a new list from two list using the following condition *

Given two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [ ]:
def merge_list(list1, list2):
    result_list = []

    # iterate first list
    for num in list1:
        # check if current number is odd
        if num % 2 != 0:
            # add odd number to result list
            result_list.append(num)

    # iterate second list
    for num in list2:
        # check if current number is even
        if num % 2 == 0:
            # add even number to result list
            result_list.append(num)
    return result_list

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print("result list:", merge_list(list1, list2))

result list: [25, 35, 40, 60, 90]

# **Write a Program to extract each digit from an integer in the reverse order.**
For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [ ]:
number = 7536
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7


To decide and control the flow of a program, we have branching and looping techniques in Python. A good understanding of loops and if-else statements is necessary to write efficient programs in Python.

Control flow statements: Use the if-else statements in Python for conditional decision-making

for loop: To iterate over a sequence of elements such as list, string.

range() function: Using a for loop with range(), we can repeat an action a specific number of times

while loop: To repeat a block of code repeatedly, as long as the condition is true.

Break and Continue: To alter the loop’s execution in a certain manner.
Nested loop: loop inside a loop is known as a nested loop

Exercise 1: Print First 10 natural numbers using while loop

In [ ]:
# program 1: Print first 10 natural numbers
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

# **Calculate the sum of all numbers from 1 to a given number**

In [ ]:
# s: store sum of all numbers
s = 0
n = int(input("Enter number "))
# run loop n times
# stop: n+1 (because range never include stop number in result)
for i in range(1, n + 1, 1):
    # add current number to sum variable
    s += i
print("\n")
print("Sum is: ", s)

Enter number 123


Sum is:  7626

In [ ]:
n = int(input("Enter number "))
# pass range of numbers to sum() function
x = sum(range(1, n + 1))
print('Sum is:', x)

Enter number 12
Sum is: 78

# **4: Write a program to print multiplication table of a given number**

In [ ]:
n = 2
# stop: 11 (because range never include stop number in result)
# run loop 10 times
for i in range(1, 11, 1):
    # 2 *i (current number)
    product = n * i
    print(product)

2
4
6
8
10
12
14
16
18
20

# **Display numbers from a list using loop**

Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
# iterate each item of a list
for item in numbers:
    if item > 500:
        break
    elif item > 150:
        continue
    # check if number is divisible by 5
    elif item % 5 == 0:
        print(item)

75
150
145

# **Exercise 6: Count the total number of digits in a number**

Set counter = 0
Run while loop till number != 0
In each iteration of loop
Reduce the last digit from the number using floor division ( number = number // 10)
Increment counter by 1
print counter

In [ ]:
num = 75869
count = 0
while num != 0:
    # floor division
    # to reduce the last digit from number
    num = num // 10

    # increment counter by 1
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

Print the following pattern
# **Write a program to use for loop to print the following reverse number pattern**

create an outer loop to iterate numbers from 1 to 5 using for loop and range() function
Create an inner loop inside the outer loop in such a way that in each iteration of the outer loop, the inner loop iteration will be reduced by i. i is the current number of an outer loop
In each iteration of the inner loop, print the iterator variable of the inner loop (j)
Note:

In the first iteration of the outer loop inner loop execute five times.
In the second iteration of the outer loop inner loop execute four times.
In the last iteration of the outer loop, the inner loop will execute only once

In [ ]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

# Exercise 8: Print list in reverse order using a **loop**

Approach 1: Use the built-in function reversed() to reverse the list

Approach 2: Use for loop and the len() function

Get the size of a list using the len(list1) function
Use for loop and reverse range() to iterate index number in reverse order starting from length-1 to 0. In each iteration, i will be reduced by 1
In each iteration, print list item using list1[i]. i is the current value if the index

In [ ]:
list1 = [10, 20, 30, 40, 50]
# reverse list
new_list = reversed(list1)
# iterate reversed list
for item in new_list:
    print(item)

50
40
30
20
10

In [ ]:
list1 = [10, 20, 30, 40, 50]
# get list size
# len(list1) -1: because index start with 0
# iterate list in reverse order
# star from last item to first
size = len(list1) - 1
for i in range(size, -1, -1):
    print(list1[i])

50
40
30
20
10

In [ ]:
for num in range(-10, 0, 1):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

# **11: Write a program to display all prime numbers within a range**
Note: A Prime Number is a number that cannot be made by multiplying other whole numbers. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers

Examples:

6 is not a prime mumber because it can be made by 2×3 = 6
37 is a prime number because no other whole numbers multiply together to make it.

In [ ]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

# **Exercise 12: Display Fibonacci series up to 10 terms**
The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

In [ ]:
# first two numbers
num1, num2 = 0, 1

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [ ]:
def fibonacci_iterative(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]

    fib_seq = [0, 1]
    for i in range(2, n):
        fib_seq.append(fib_seq[-1] + fib_seq[-2])
    return fib_seq

# Example
print(fibonacci_iterative(10))  # Output: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# **Exercise 13: Find the factorial of a given number**
Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

In [ ]:
num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    # run loop 5 times
    for i in range(1, num + 1):
        # multiply factorial by current number
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

In [ ]:
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)
print(f'Print fact of {n} is', fact(5))

Print fact of 5 is 120

# **Reverse an integer number**

In [ ]:
num = 76542
reverse_number = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Revere Number ", reverse_number)

Given Number  76542
Revere Number  24567

In [ ]:
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 4321

# **Using string slicing**

In [ ]:
num = 123456
print(str(num)[::-1])

654321

In [ ]:
def rev(num = 123456):
  res = str(num)[::-1]
  return res
print(rev(num))

654321

In [ ]:
def rev(a = [1234]):
  a=str(a)
  res = reversed(a)
  r1 = (res)
  return r1


print(rev(int(76542))) #cant use this method for integer since it (reversed()) returns a string

<reversed object at 0x7a07d95715a0>

The reversed() function takes a single argument.

iterable - an iterable such as list, tuple, string, dictionary, etc.eversed() Return Value
The reversed() method returns an iterator object.

Note: Iterator objects can be easily converted into sequences such as lists and tuples. They can also be directly iterated over using a loop.

In [ ]:
text = 'cad'

# access items of the string in reversed order
for char in reversed(text):
    print(char)

d
a
c

In [ ]:
country_capitals = {
  'England': 'London',
  'Canada': 'Ottawa',
  'Germany': 'Berlin'
}

# access keys in reversed order
# and convert it to a tuple
country = tuple(reversed(country_capitals))
print(country)

('Germany', 'Canada', 'England')

In [ ]:
# create a list of prime numbers
prime_numbers = [2, 3, 5, 7]

# reverse the order of list elements
prime_numbers.reverse()

print('Reversed List:', prime_numbers)

# Output: Reversed List: [7, 5, 3, 2]

Reversed List: [7, 5, 3, 2]

In [ ]:
a =[1234]
r = a.reverse()
print(r) #this cant be done sinc eit return list

None

In [ ]:
string = 'Python'

result = reversed(string)

# convert the iterator to list and print it
print(list(result))

# Output: ['n', 'o', 'h', 't', 'y', 'P']

['n', 'o', 'h', 't', 'y', 'P']

In [ ]:
def reverse_integer(n):
    """
    Reverses an integer number.

    Args:
    n (int): The integer to reverse.

    Returns:
    int: The reversed integer.
    """
    # Handle negative numbers by temporarily converting to positive
    is_negative = n < 0
    n = abs(n)

    # Reverse the integer using string manipulation
    reversed_n = int(str(n)[::-1])

    # Restore the negative sign if necessary
    if is_negative:
        reversed_n = -reversed_n

    return reversed_n

# Example usage:
number = 12345
reversed_number = reverse_integer(number)
print(f"The reverse of {number} is {reversed_number}")

number = -9876
reversed_number = reverse_integer(number)
print(f"The reverse of {number} is {reversed_number}")

The reverse of 12345 is 54321
The reverse of -9876 is -6789

# **Use a loop to display elements from a given list present at odd index positions**

In [ ]:
a =[1,2,3,4,5,6,78,9,100]

for i in a[1::2]:
  print(i)

2
4
6
9

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# stat from index 1 with step 2( means 1, 3, 5, an so on)
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

**SORT**

In [ ]:
prime_numbers = [11, 3, 7, 5, 2]

# sort the list in ascending order
prime_numbers.sort()

print(prime_numbers)

# Output: [2, 3, 5, 7, 11]

[2, 3, 5, 7, 11]

In [ ]:
numbers = [7, 3, 11, 2, 5]

# reverse is set to True
numbers.sort(reverse = True)

print(numbers)

[11, 7, 5, 3, 2]

In [ ]:
cities = ["Tokyo", "London", "Washington D.C"]

# sort in dictionary order
cities.sort()
print(f"Dictionary order: {cities}")

# sort in reverse dictionary order
cities.sort(reverse = True)
print(f"Reverse dictionary order: {cities}")

Dictionary order: ['London', 'Tokyo', 'Washington D.C']
Reverse dictionary order: ['Washington D.C', 'Tokyo', 'London']

In [ ]:
text = ["abc", "wxyz", "gh", "a"]

# stort strings based on their length
text.sort(key = len)
print(text)

['a', 'gh', 'abc', 'wxyz']

# **INSERT**

# INSERT The insert() method inserts an element to the list at the specified index.

The syntax of the insert() method is

list.insert(i, elem)
Here, elem is inserted to the list at the ith index. All the elements after elem are shifted to the right.

In [ ]:
# create a list of vowels
vowel = ['a', 'e', 'i', 'u']

# 'o' is inserted at index 3 (4th position)
vowel.insert(3, 'o')

print('List:', vowel)

# Output: List: ['a', 'e', 'i', 'o', 'u']

List: ['a', 'e', 'i', 'o', 'u']

In [ ]:
# create a list of prime numbers
prime_numbers = [2, 3, 5, 7]

# insert 11 at index 4
prime_numbers.insert(4, 11)

print('List:', prime_numbers)

List: [2, 3, 5, 7, 11]

In [ ]:
mixed_list = [{1, 2}, [5, 6, 7]]

# number tuple
number_tuple = (3, 4)

# inserting a tuple to the list
mixed_list.insert(1, number_tuple)

print('Updated List:', mixed_list)

Updated List: [{1, 2}, (3, 4), [5, 6, 7]]

# **APPEND**
The append() method adds an item to the end of the list.

list.append(item)  
The method doesn't return any value (returns None).

In [ ]:
currencies = ['Dollar', 'Euro', 'Pound']

# append 'Yen' to the list
currencies.append('Yen')

print(currencies)

# Output: ['Dollar', 'Euro', 'Pound', 'Yen']

['Dollar', 'Euro', 'Pound', 'Yen']

In [ ]:
# animals list
animals = ['cat', 'dog', 'rabbit']

# Add 'guinea pig' to the list
animals.append('guinea pig')

print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'rabbit', 'guinea pig']

In [ ]:
# animals list
animals = ['cat', 'dog', 'rabbit']

# list of wild animals
wild_animals = ['tiger', 'fox']

# appending wild_animals list to animals
animals.append(wild_animals)

print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'rabbit', ['tiger', 'fox']]

# **EXTEND**
The extend() method adds all the items of the specified iterable, such as list, tuple, dictionary, or string , to the end of a list.

list1.extend(iterable)

In [ ]:
numbers1 = [3, 4, 5]

numbers2 = [10, 20]

# add the items of numbers1 to the number2 list
numbers2.extend(numbers1)

print(f"numbers1 = {numbers1}")
print(f"numbers2 = {numbers2}")

numbers1 = [3, 4, 5]
numbers2 = [10, 20, 3, 4, 5]

In [ ]:
languages = ['French']

languages_tuple = ('Spanish', 'Portuguese')

# add items of the tuple to the languages list
languages.extend(languages_tuple)
print( languages)

languages_set = {'Chinese', 'Japanese'}

# add items of the set to the languages list
languages.extend(languages_set)
print(languages)

['French', 'Spanish', 'Portuguese']
['French', 'Spanish', 'Portuguese', 'Chinese', 'Japanese']

In [ ]:
a = [1, 2]
b = [3, 4]

a = a + b

print( a) # [1, 2, 3, 4]

[1, 2, 3, 4]

Python extend() Vs append()

If you need to add the item itself (rather than its elements), use the append() method.

In [ ]:
a1 = [1, 2]
a2 = [1, 2]
b = (3, 4)

# add items of b to the a1 list
a1.extend(b) #  [1, 2, 3, 4]
print(a1)

# add b itself to the a1 list
a2.append(b)
print(a2)

[1, 2, 3, 4]
[1, 2, (3, 4)]

In [ ]:
list_1 = [1, 'a']
list_2 = range(2, 4)

list_joined = [*list_1, *list_2]
print(list_joined)

[1, 'a', 2, 3]

# **POP**
The list pop() method removes the item at the specified index. The method also returns the removed item.
list.pop(index)

In [ ]:

prime_numbers = [2, 3, 5, 7]

# remove the element at index 2
removed_element = prime_numbers.pop(2)

print('Removed Element:', removed_element)
print('Updated List:', prime_numbers)

# Output:
# Removed Element: 5
# Updated List: [2, 3, 7]

Removed Element: 5
Updated List: [2, 3, 7]

In [ ]:
# programming languages list
languages = ['Python', 'Java', 'C++', 'Ruby', 'C']

# remove and return the last item
print('When index is not passed:')
print('Return Value:', languages.pop())

print('Updated List:', languages)

# remove and return the last item
print('\nWhen -1 is passed:')
print('Return Value:', languages.pop(-1))

print('Updated List:', languages)

# remove and return the third last item
print('\nWhen -3 is passed:')
print('Return Value:', languages.pop(-3))

print('Updated List:', languages)

When index is not passed:
Return Value: C
Updated List: ['Python', 'Java', 'C++', 'Ruby']

When -1 is passed:
Return Value: Ruby
Updated List: ['Python', 'Java', 'C++']

When -3 is passed:
Return Value: Python
Updated List: ['Java', 'C++']

# **REMOVE**
The remove() method removes the first matching element (which is passed as an argument) from the list.

list.remove(element)

In [ ]:
# create a list
prime_numbers = [2, 3, 5, 7, 9, 11]

# remove 9 from the list
prime_numbers.remove(9)

# Updated prime_numbers List
print('Updated List: ', prime_numbers)

# Output: Updated List:  [2, 3, 5, 7, 11]

Updated List:  [2, 3, 5, 7, 11]

REMOVE DUPLICATE ELEMENTS

If a list contains duplicate elements, the remove() **method only removes the first matching element.**

---

In [ ]:
# animals list
animals = ['cat', 'dog', 'dog', 'guinea pig', 'dog']

# 'dog' is removed
animals.remove('dog')

# Updated animals list
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'guinea pig', 'dog']

In [ ]:
# animals list
animals = ['cat', 'dog', 'rabbit', 'guinea pig']

# Deleting 'fish' element
animals.remove('fish')

# Updated animals List
print('Updated animals list: ', animals)

ValueError: list.remove(x): x not in list

DELETE

The Python del keyword is used to delete objects. Its syntax is:# delete obj_name
del obj_name

Note: You can't delete items of tuples and strings in Python. It's because tuples and strings are immutables; objects that can't be changed after their creation.

In [ ]:

class MyClass:
    a = 10
    def func(self):
        print('Hello')

# Output:
print(MyClass)

# deleting MyClass
del MyClass

# Error: MyClass is not defined
print(MyClass)

<class '__main__.MyClass'>

NameError: name 'MyClass' is not defined

In [ ]:

my_var = 5
my_tuple = ('Sam', 25)
my_dict = {'name': 'Sam', 'age': 25}

del my_var
del my_tuple
del my_dict

# Error: my_var is not defined
print(my_var)

# Error: my_tuple is not defined
print(my_tuple)

# Error: my_dict is not defined
print(my_dict)

NameError: name 'my_var' is not defined

The del statement can be used to delete an item at a given index. It can also be used to remove slices from a list

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# deleting the third item
del my_list[2]

# Output: [1, 2, 4, 5, 6, 7, 8, 9]
print(my_list)

# deleting items from 2nd to 4th
del my_list[1:4]

# Output: [1, 6, 7, 8, 9]
print(my_list)

# deleting all elements
del my_list[:]

# Output: []
print(my_list)

[1, 2, 4, 5, 6, 7, 8, 9]
[1, 6, 7, 8, 9]
[]

In [ ]:
person = { 'name': 'Sam',
  'age': 25,
  'profession': 'Programmer'
}

del person['profession']

# Output: {'name': 'Sam', 'age': 25}
print(person)

{'name': 'Sam', 'age': 25}

# **INDEX**

The index() method returns the index of the specified element in the list.

list.index(element, start, end)

In [ ]:
animals = ['cat', 'dog', 'rabbit', 'horse']

# get the index of 'dog'
index = animals.index('dog')

print(index)

# Output: 1

1

In [ ]:
# vowels list
vowels = ['a', 'e', 'i', 'o', 'i', 'u']

# index of 'e' in vowels
index = vowels.index('e')
print('The index of e:', index)

# element 'i' is searched
# index of the first 'i' is returned
index = vowels.index('i')

print('The index of i:', index)

In [ ]:
# vowels list
vowels = ['a', 'e', 'i', 'o', 'u']

# index of 'p' is vowels
index = vowels.index('p')
print('The index of p:', index)

In [ ]:
# alphabets list
alphabets = ['a', 'e', 'i', 'o', 'g', 'l', 'i', 'u']

# index of 'i' in alphabets
index = alphabets.index('e')   # 1
print('The index of e:', index)

# 'i' after the 4th index is searched
index = alphabets.index('i', 4)   # 6
print('The index of i:', index)

# 'i' between 3rd and 5th index is searched
index = alphabets.index('i', 3, 5)   # Error!
print('The index of i:', index)

# Write a function to find the index of a given element in a list.

In [ ]:
def ind(lst):
  res = lst.index(3)
  return res
lst = [1,2,3,4,5]
print(ind(lst))

In [ ]:
# Python program to check if year is a leap year or not

year = 2000

# To get year (integer input) from the user
# year = int(input("Enter a year: "))

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))

# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
    print("{0} is not a leap year".format(year))

In [ ]:
def is_leap_year(year):
    """
    Checks if a given year is a leap year.

    Args:
    year (int): The year to check.

    Returns:
    bool: True if the year is a leap year, False otherwise.
    """
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

def count_leap_years(start_year, end_year):
    """
    Counts the number of leap years between two given years.

    Args:
    start_year (int): The starting year.
    end_year (int): The ending year.

    Returns:
    int: The number of leap years between start_year and end_year.
    """
    count = 0
    for year in range(start_year, end_year + 1):
        if is_leap_year(year):
            count += 1
    return count

# Example usage
start_year = 2000
end_year = 2020
print(f"Number of leap years between {start_year} and {end_year}: {count_leap_years(start_year, end_year)}")

In [ ]:
import math

# sqrt computes the square root
square_root = math.sqrt(4)

print("Square Root of 4 is",square_root)

# pow() comptes the power
power = pow(2, 3)

print("2 to the power 3 is",power)

ODD OR EVEN

In [ ]:
# Python program to check if the input number is odd or even.
# A number is even if division by 2 gives a remainder of 0.
# If the remainder is 1, it is an odd number.

num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 23
23 is Odd

LARGEST AMONG THREE NOS

In [ ]:
# Python program to find the largest number among the three input numbers

# change the values of num1, num2 and num3
# for a different result
num1 = 10
num2 = 14
num3 = 12

# uncomment following lines to take three numbers from user
#num1 = float(input("Enter first number: "))
#num2 = float(input("Enter second number: "))
#num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 14

In [ ]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))

        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    else:
        print("Invalid Input")

# **METHOD OVERRIDING**

---

Method overriding is a feature in object-oriented programming where a subclass provides a specific implementation for a method that is already defined in its superclass. The overriding method in the subclass has the same name, return type, and parameters as the method in the superclass.

The purpose of method overriding is to allow a subclass to provide a specific implementation of a method that is different from the implementation provided in its superclass. This is useful for defining behavior that is specific to the subclass while maintaining a consistent interface.

IN INHERITANCE THE object of the subclass can access the method of the superclass.

However, what if the same method is present in both the superclass and subclass?

In this case, the method in the subclass overrides the method in the superclass. This concept is known as method overriding in Python.

Benefits of Method Overriding:
Flexibility: Allows a subclass to define specific behavior while maintaining the same interface as the superclass.
Code Reusability: Promotes code reuse by allowing subclasses to use methods from the superclass and only override them when necessary.
Runtime Polymorphism

In [ ]:
class Animal:
  def make_sound(self):
    print("Make generic sound")
    return "roar"

class Dog(Animal):
  def make_sound(self):
    print("The dog make sound woof")
    return "woof"

class Cat(Animal):
  def make_sound(self):
    print("The cat make sound Meow")
    return "Meow"

dog = Dog()
cat = Cat()

print(dog.make_sound())  #must use print here otherwise onlly meow printed
print(cat.make_sound())

The dog make sound woof
woof
The cat make sound Meow
Meow

# **Inheritance**

---

Python supports class inheritance. It allows us to create a new class from an existing one.

The newly created class is known as the subclass (child or derived class).
The existing class from which the child class inherits is known as the superclass (parent or base class).

There are 5 different types of inheritance in Python. They are:

# **Single Inheritance: a child class inherits from only one parent class.**
**Multiple Inheritance:** a child class inherits from multiple parent classes

**Multilevel Inheritance**: a child class inherits from its parent class, which is inheriting from its parent class.

**Hierarchical Inheritance:** more than one child class are created from a single parent class.

# Hybrid Inheritance: combines more than one form of inheritance.

# **SINGLE LEVEL INHERITANCE**

---

In [ ]:
#SINGLE LEVEL INHERITANCE - one base class/ one dervied class

In [ ]:
class Animal: #Superclass
  def make_sound(self):
    print("roar")

class Dog(Animal):  #baseclass
  def bark(self):
    print("woof")

dog= Dog() #object of subclass

dog.make_sound() #since inherited from animal display its output
dog.bark() #output of base class Dog

# **Multiple inheritance**

---

Multiple Inheritance: a child class inherits from multiple parent classes.

In [ ]:
#Here child inherits from multiple parents classes (Father and Mother) A class can be derived from more than one superclass in Python. This is called multiple inheritance.

In [ ]:
#Base class1

class Father:   #super class
  def skills(self):
    print("Fathers skill-He is a very good surgon")

#Base class2
class Mother:
  def skills(self):
    print("Mothers skill-she is a very good Artist")

#Dervived class
class Child(Father, Mother): #multiple level inheritance going on here!
  def skills(self):
    super().skills()  # Calls the first class in the MRO (Method Resolution Order)
    print("Childs skill-can Dance, can sing")

child = Child()
mother = Mother()

child.skills()  # This will call Child's skills method

 MRO in Python determines t***he order in which methods are resolved in a class hierarchy, especially when multiple inheritance is involved***. It ensures a predictable and consistent order, which helps in avoiding common pitfalls associated with multiple inheritance.

Method Resolution Order (MRO) is the order in which Python looks for a method in a hierarchy of classes. This order defines the sequence in which base classes(Parent class) are searched when executing a method. MRO plays a crucial role in multiple inheritance, ensuring that each method is called in a consistent and predictable manner.

In Python, the MRO is determined using the C3 linearization algorithm (also known as C3 superclass linearization or C3 linearization). The MRO ensures that:

A child class is checked before its parent classes.
If a class inherits from multiple classes, they are checked in the order they are inherited from.
The MRO follows a depth-first, left-to-right search strategy, ensuring that each class is only visited once.

In [ ]:
#multiple level

# Base class 1
class Father:
    def skills(self):
        print("Father's skills")

# Base class 2
class Mother:
    def skills(self):
        print("Mother's skills")

# Derived class
class Child(Father, Mother): #multiple level inheritance going on here!
    def skills(self):
        super().skills()  # Calls the first class in the MRO (Method Resolution Order)
        print("Child's skills")

# Create an instance of Child
child = Child()
mother = Mother()
child.skills()  # This will call Child's skills method

# **Multi level inheritance**

---

Multilevel Inheritance: a child class inherits from its parent class, which is inheriting from its parent class.

In [ ]:
class Animal:       #superclass or parent
  def speak(self):  #instance of superclass
    print("hello")

class Dog(Animal):  #inherited class from superclass Animal
  def bark(self):
    print("woof")

class Puppy(Dog):  #inherits from Dog
  def cry(self):
    print("puppy cries")

puppy = Puppy()   # Create an instance of Puppy

puppy.speak() #inherited from Animal
puppy.bark()  #inherited from Dog
puppy.cry()  #Method of puppy class

# **HYbrid**

Hybrid inheritance is a type of inheritance in object-oriented programming where a class structure combines more than one type of inheritance. Specifically, it can include combinations of single, multiple, hierarchical, and multilevel inheritance.

In [ ]:
#hybrid

# Base class
class Animal:
    def speak(self):
        print("Animal speaks")

# Derived class 1
class Dog(Animal):
    def bark(self):
        print("Dog barks")

# Derived class 2
class Cat(Animal):
    def meow(self):
        print("Cat meows")

# Multiple Inheritance
class Pet(Dog, Cat):
    def play(self):
        print("Pet plays")

# Create an instance of Pet
pet = Pet()
pet.speak()  # Inherited from Animal
pet.bark()   # Inherited from Dog
pet.meow()   # Inherited from Cat
pet.play()   # Method of Pet class

Animal speaks
Dog barks
Cat meows
Pet plays

# **Hirarchical**

Hierarchical inheritance is a type of inheritance in object-oriented programming where multiple subclasses inherit from a single base class. This allows for shared functionality in the base class while enabling each subclass to implement or override methods as needed

In [ ]:
#hierarichail

# Base class
class Animal:
    def speak(self):
        print("Animal speaks")

# Derived class 1
class Dog(Animal):
    def bark(self):
        print("Dog barks")

# Derived class 2
class Cat(Animal):
    def meow(self):
        print("Cat meows")

# Create instances of Dog and Cat
dog = Dog()
cat = Cat()

dog.speak()  # Inherited method
dog.bark()   # Method of Dog class

cat.speak()  # Inherited method
cat.meow()   # Method of Cat class

Animal speaks
Dog barks
Animal speaks
Cat meows

# **Polymorphism**

its the ability of object of different classes to take many forms to the same method(function) call.

In [ ]:
def addi(a,b):
  return a+b
print(addi(2,3))
print(addi("hello","world"))

5
helloworld

In [ ]:
#POLYMORPHISM

class Animal: #parent class
    def make_sound(self):
        print("Generic animal sound")

class Dog(Animal): #subclass "dog" inheriting from Animal  #subclasss - dog inherting from "Animal" class
    def make_sound(self):
        print("Woof!")


class Cat(Animal): #subclass "cat" inheriting from parent class "Animal"
    def make_sound(self):
        print("Meow!")


def speak(animal): #speak - method responsible for polymorphism, animal : object
    animal.make_sound()  # Polymorphic behavior

# Create Animal objects
dog = Dog()
cat = Cat()

speak(dog)  # Output: Woof!
speak(cat)  # Output: Meow!

Woof!
Meow!

In [ ]:
class Animal:
  def make_sound(self):
    print("generic sound")

  def __init__(self, name,age):
    self.__name = name
    self.age = age

  def get_name(self):
    return self.__name

  def get_age(self):
    return self.age

class Dog(Animal):
  def make_sound(self):
    print(f'The dog of {self.get_name()} and age{self.get_age()} makes sound')

class Cat(Animal):
  def make_sound(self):
    print(f'ThE cat of {self.get_name()} and age{self.get_age()} makes sound()')

def speak(animal):
  animal.make_sound()


dog = Dog("dash",2)
cat = Cat("kit",1)

speak(dog)
speak(cat)

The dog of dash and age2 makes sound
ThE cat of kit and age1 makes sound()